.latter-spacing--0-1{
  letter-spacing: -0.01em;
}
.letter-spacing-0-{
  letter-spacing: normal;
}
.letter-spacing-0-1{
  letter-spacing: 0.01em;
}
.letter-spacing-0-2{
  letter-spacing: 0.02em;
}
.letter-spacing-0-3{
  letter-spacing: 0.03em;
}
.letter-spacing-0-4{
  letter-spacing: 0.04em;
}
.letter-spacing-0-6{
  letter-spacing: 0.6em;
}
.under-line-text{
  border-bottom: solid 1px;
}