.header {
  margin: 94px 24px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header__menu {
  padding-left: 26px;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  letter-spacing: 0.01em;
  gap: 31px;
}

.header__links-list-item {
  list-style: circle;
  text-decoration: none;
}

.contacts-list {
  padding-right: 62px;
  line-height: 135%;
  align-self: center;
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 135px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  line-height: 100%;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
letter-spacing: 0;
}

.aligned-text {
  line-height: 115%;
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.cover__description {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.cover__description-title {
  margin-left: 78px;
  margin-right: 76px;
  word-spacing: 19px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.bet-button {
  padding: 11px 32px 12px 32px;
  border: solid 1px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  /* при записи "font-family: inherit;" падают тесты github -"6. Присутствуют альтернативные шрифты. Список допустимых шрифтов: `Raleway`."*/
}

.lots {
  margin-top: 179px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.card {
  position: relative;
  width: 334px;
  min-height: 563px;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-header {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline solid 1px;
  color: #fff;
}

.card-content {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__look-more-link {
  width: max-content;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
}

.about {
  margin-top: 181px;
  display: grid;
  grid-template-columns: 382px 1fr;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.about__header {
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-right: 30px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.about__text:last-child {
  padding-bottom: 0;
}

.footer {
  margin: 181px 50px 88px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  font-size: 18px;
}

.footer .contacts-list {
  justify-self: start;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
}

.footer__nav {
  justify-self: center;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__list-item {
  white-space: nowrap;
}

.link-decorated {
  border-bottom: solid 1px;
}
